<img src="assets/images/General/barrasola.png" alt="Barra Decorativa" class="barra-decorativa" />
<img src="assets/images/General/footer.png" alt="Footer Decorativo" class="footer-decorativa" />
<div class="sidebar close">
    <div class="logo">
        <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-11.png" alt="Logo Dogin" class="logo-img" />
        <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-07.png" alt="Nombre Dogin" class="logo-name" />
    </div>

    <ul class="nav-list">
        <!-- Cada enlace ahora lleva a la ruta correcta del servidor -->
        <li>
            <a href="/veterinarioPanel">
                <i class="fab fa-microsoft"></i>
                <span class="tooltip">Panel</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="/mascotaForm/add">
                <i class="fa-solid fa-plus"></i>
                <span class="tooltip">Agregar Mascota</span> <!-- Tooltip agregado -->
            </a>
        </li>


        <li>
            <a href="/propietarioForm/add">
                <i class="fa-solid fa-user-plus"></i>
                <span class="tooltip">Agregar Propietario</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="/tratamiento/add">
                <i class="fa-solid fa-suitcase-medical"></i>
                <span class="tooltip">Asignar Tratamiento</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="/historial/ver">
                <i class="fas fa-bookmark"></i>
                <span class="tooltip">Ver Historial</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li id="listado-mascotas-link">
            <a href="/mascotas">
                <i class="fa-solid fa-shield-dog"></i>
                <span class="tooltip">Listado de Mascotas</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="/propietarios">
                <i class="fa-solid fa-list-ul"></i>
                <span class="tooltip">Listado de Propietarios</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li style="margin-top: 300px;">
            <a href="/logout">
                <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
                <span class="tooltip">Cerrar Sesión</span> <!-- Tooltip agregado -->
            </a>

        </li>
    </ul>

</div>
<div class="home-section">

    <img src="assets/images/General/modificarIcono.png" alt="icono" class="iconoModificar" />

    <header id="header">
        <h1 class="form-title">VER HISTORIAL</h1>
    </header>

    <section class="buscar">
        <div class="buscador-container">
          <h1>BUSCADOR</h1>
          <div class="buscador-input">
            <input type="text" id="searchInput" placeholder="Buscar tratamiento..." (keyup)="buscarTratamientos($event)" />
          </div>
        </div>
      </section>
      
      <section class="table__body">
        <table id="tratamientosTable">
          <thead>
            <tr>
              <th>ID Mascota</th>
              <th>Nombre de la Mascota</th>
              <th>Foto</th>
              <th>Fecha Tratamiento</th>
              <th>Nombre Medicamento</th>
              <th>Cantidad Suministrada</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tratamiento of tratamientosList">
              <td>{{ tratamiento.mascota?.id }}</td>
              <td>{{ tratamiento.mascota?.nombre }}</td>
              <td><img [src]="tratamiento.mascota?.fotoUrl" alt="Imagen de la mascota" width="100" height="100"></td>
              <td>{{ tratamiento.fecha | date:'dd/MM/yyyy' }}</td>
              <td>{{ tratamiento.medicamento?.nombre }}</td>
              <td>{{ tratamiento.cantidad }}</td>
            </tr>
          </tbody>
        </table>
      </section>
      
      
      
      

