<img src="assets/images/General/footer.png" alt="Footer Decorativo" class="footer-decorativa" />
<header id="header">
    <div id="logo">
        <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-05.png" alt="Dogin Logo" />
    </div>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#sobre">Sobre Nosotros</a></li>
        <li><a href="#contacto">Contacto</a></li>
        <li><a href="/login" class="button">Iniciar Sesión</a></li>
    </ul>
</header>