<img src="assets/images/General/barrasola.png" alt="Barra Decorativa" class="barra-decorativa" />
<img src="assets/images/General/footer.png" alt="Footer Decorativo" class="footer-decorativa" />
<div class="sidebar close">
    <div class="logo">
        <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-11.png" alt="Logo Dogin" class="logo-img" />
        <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-07.png" alt="Nombre Dogin" class="logo-name" />
    </div>

    <ul class="nav-list">
        <li>
            <a href="/veterinario/panel">
                <i class="fab fa-microsoft"></i>
                <span class="link-name">Panel</span>
            </a>
        </li>

        <li>
            <a href="/pet/addMascota">
                <i class="fa-solid fa-plus"></i>
                <span class="link-name">Agregar Mascota</span>
            </a>
        </li>

        <li>
            <a href="/propietario/addPropietario">
                <i class="fa-solid fa-user-plus"></i>
                <span class="link-name">Agregar Propietario</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-suitcase-medical"></i>
                <span class="link-name">Asignar Tratamiento</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-bookmark"></i>
                <span class="link-name">Ver Historial</span>
            </a>
        </li>

        <li>
            <a href="/pet/listMascotas">
                <i class="fa-solid fa-shield-dog"></i>
                <span class="link-name">Listado de Mascotas</span>
            </a>
        </li>

        <li>
            <a href="/propietario/listPropietarios">
                <i class="fa-solid fa-list-ul"></i>
                <span class="link-name">Listado de Propietarios</span>
            </a>
        </li>


        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <img src="assets/images/General/user.jpg" alt="Imagen del Usuario" />
                </div>

                <div class="name-job">
                    <div class="name" th:text="${primerNombre}">Nombre del Usuario</div>
                    <div class="job">Veterinario</div>
                </div>
                <a href="/veterinario/logout"><i class="fas fa-right-to-bracket"></i></a>
            </div>
        </li>
    </ul>
</div>

<div class="home-section">
    <div class="home-content">
        <i class="fas fa-bars"></i>
        <span class="text">Menu</span>
    </div>

    <!-- Sección de Panel -->
    <section id="panel" class="content-section">
        <h2>Panel</h2>
        <p>Aquí va el contenido del panel principal...</p>
    </section>

    <!-- Sección de Historial -->
    <section id="historial" class="content-section" style="display: none;">
        <h2>Historial</h2>
        <p>Aquí va el contenido del historial...</p>
    </section>

    <!-- Sección de Mis Mascotas -->
    <section id="mis-mascotas" class="content-section" style="display: none;">
        <h2>Mis Mascotas</h2>
        <p>Aquí va el contenido de mis mascotas...</p>
    </section>

    <img src="assets/images/General/modificarIcono.png" alt="icono" class="iconoModificar" />

    <header id="header">
        <h1 class="form-title">NUEVO PROPIETARIO</h1>
        <img src="assets/images/General/edit.png" alt="icono" class="iconoEdit" />
    </header>
    <main>
        <div class="container">
            <div class="form_area">
                <p class="title">DATOS DEl PROPIETARIO</p>
                <form #propietarioForm="ngForm" (ngSubmit)="updatePropietario(propietarioForm)">
                    <div class="form_group">
                        <label class="sub_title" for="cedula">Cédula</label>
                        <input class="form_style" type="text" id="cedula" name="cedula" [(ngModel)]="propietario.cedula" required />
                    </div>
                    <div class="form_group">
                        <label class="sub_title" for="nombre">Nombre</label>
                        <input class="form_style" type="text" id="nombre" name="nombre" [(ngModel)]="propietario.nombre" required />
                    </div>
                    <div class="form_group">
                        <label class="sub_title" for="correo">Correo</label>
                        <input class="form_style" type="email" id="correo" name="correo" [(ngModel)]="propietario.correo" required />
                    </div>
                    <div class="form_group">
                        <label class="sub_title" for="celular">Celular</label>
                        <input class="form_style" type="text" id="celular" name="celular" [(ngModel)]="propietario.celular" required />
                    </div>
                    <div class="form_group">
                        <label class="sub_title" for="contrasena">Contraseña</label>
                        <input class="form_style" type="password" id="contrasena" name="contrasena" [(ngModel)]="propietario.contrasena" required />
                    </div>
                
                    <div>
                        <button type="submit" class="btn">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>