<div class="sidebar close">
    <div class="logo">
        <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-11.png" alt="Logo Dogin" class="logo-img" />
        <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-07.png" alt="Nombre Dogin" class="logo-name" />
    </div>

    <ul class="nav-list">
        <!-- Cada enlace ahora lleva a la ruta correcta del servidor -->
        <li>
            <a href="adminPanel">
                <i class="fab fa-microsoft"></i>
                <span class="tooltip">Panel</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="admin/mascotaForm/add">
                <i class="fa-solid fa-plus"></i>
                <span class="tooltip">Registrar Mascota</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="veterinarioForm/add">
                <i class="fa-solid fa-user-plus"></i>
                <span class="tooltip">Agregar Veterinario</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="/trtamiento/add">
                <i class="fa-solid fa-notes-medical"></i>
                <span class="tooltip">Asignar Tratamiento</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="veterinarios">
                <i class="fa-solid fa-user-nurse"></i>
                <span class="tooltip">Gestion de Veterinarios</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li style="margin-top: 350px;">
            <a href="/logout">
                <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
                <span class="tooltip">Cerrar Sesión</span> <!-- Tooltip agregado -->
            </a>

        </li>
    </ul>
</div>


<router-outlet></router-outlet>