<!-- Barra decorativa superior -->
<img src="assets/images/General/barrasola.png" alt="Barra Decorativa" class="barra-decorativa" />
<!-- Footer decorativo -->
<img src="assets/images/General/footer.png" alt="Footer Decorativo" class="footer-decorativa" />

<div class="sidebar close">
    <div class="logo">
        <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-11.png" alt="Logo Dogin" class="logo-img" />
        <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-07.png" alt="Nombre Dogin" class="logo-name" />
    </div>

    <ul class="nav-list">
        <!-- Cada enlace ahora lleva a la ruta correcta del servidor -->
        <li>
            <a href="adminPanel">
                <i class="fab fa-microsoft"></i>
                <span class="tooltip">Panel</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="admin/mascotaForm/add">
                <i class="fa-solid fa-plus"></i>
                <span class="tooltip">Registrar Mascota</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="veterinarioForm/add">
                <i class="fa-solid fa-user-plus"></i>
                <span class="tooltip">Agregar Veterinario</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-notes-medical"></i>
                <span class="tooltip">Asignar Tratamiento</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-suitcase-medical"></i>
                <span class="tooltip">Ver Historial</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-shield-dog"></i>
                <span class="tooltip">Listado de Mascotas</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="veterinarios">
                <i class="fa-solid fa-user-nurse"></i>
                <span class="tooltip">Gestion de Veterinarios</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li style="margin-top: 350px;">
            <a href="/logout">
                <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
                <span class="tooltip">Cerrar Sesión</span> <!-- Tooltip agregado -->
            </a>

        </li>
    </ul>
</div>

<div class="home-section">
    
    <img src="assets/images/General/lista.png" alt="icono" class="iconoLista" />

    <header id="header">
        <h1 class="form-title">GESTIÓN DE VETERINARIOS</h1>
    </header>

    <!-- Campo de búsqueda -->
    <section class="buscar">
        <div class="buscador-container">
            <h1>BUSCADOR</h1>
            <div class="buscador-input">
                <input type="text" id="searchInput" placeholder="Buscar veterinario..." (keyup)="buscarVeterinarios($event)" />
            </div>
        </div>
    </section>


    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>MASCOTAS</h1>

        </section>
        <section class="table__body">
            <table id="mascotasTable">
                <thead>
                    <tr>
                        <th> ID</th>
                        <th> Nombre</th>
                        <th> Cedula</th>
                        <th> Especialidad</th>
                        <th> N° Atenciones</th>
                        <th> Correo</th>
                        <th> Acciones</th>
                    </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let veterinario of veterinarioList">
                    <td>{{veterinario.id}}</td>
                    <td>{{veterinario.nombre}}</td>
                    <td>{{veterinario.cedula}}</td>
                    <td>{{veterinario.especialidad}}</td>
                    <td>{{veterinario.numAtenciones}}</td>
                    <td>{{veterinario.correo}}</td>
                    <td>
                        <button class="btn-detalles" (click)="mostrarVeterinario(veterinario)">Ver Detalles</button>
                        <button class="btn-editar" (click)="editarVeterinario(veterinario)">Editar</button>
                        <button class="btn-eliminar" (click)="eliminarVeterinario(veterinario)">Eliminar</button>
                    </td>

                   </tr> 
                </tbody>
            </table>
        </section>