<img src="assets/images/General/barrasola.png" alt="Barra Decorativa" class="barra-decorativa" />
<img src="assets/images/General/footer.png" alt="Footer Decorativo" class="footer-decorativa" />

<div class="sidebar close">
    <div class="logo">
        <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-11.png" alt="Logo Dogin" class="logo-img" />
        <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-07.png" alt="Nombre Dogin" class="logo-name" />
    </div>

    <ul class="nav-list">
        <li>
            <a href="/propietarioPanel">
                <i class="fab fa-microsoft"></i>
                <span class="link-name">Panel</span>
                <span class="tooltip">Inicio del Panel</span>
            </a>
        </li>

        <li>
            <a href="#historial">
                <i class="fas fa-bookmark"></i>
                <span class="link-name">Ver Historial</span>
                <span class="tooltip">Historial Médico</span>
            </a>
        </li>

        <li>
            <a href="/propietarioMascotas">
                <i class="fa-sharp fa-solid fa-shield-dog" style="color: #ffffff"></i>
                <span class="link-name">Mis Mascotas</span>
                <span class="tooltip">Lista de Mascotas</span>
            </a>
        </li>

        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <img src="assets/images/General/user.jpg" alt="Imagen del Usuario" />
                </div>

                <div class="name-job">
                    <div class="name" th:text="${primerNombre}">Nombre del Usuario</div>
                    <div class="job">Dueño de Mascota</div>
                </div>
                <a href="/logout"><i class="fas fa-right-to-bracket"></i></a>
                <span class="tooltip">Cerrar Sesión</span>
            </div>
        </li>
    </ul>

</div>

<div class="home-section">
    

    <!-- Sección de Panel (Inicio) -->
    <section id="panel" class="content-section active">
        <div class="panel-container">
            <div class="left-content">
                <h1 class="welcome-title">BIENVENIDO A TU PORTAL WEB</h1>

                <!-- Círculos detrás de la imagen -->
                <div class="circle circle1"></div>
                <div class="circle circle2"></div>
                <div class="circle circle3"></div>


                <img src="assets/images/General/PerroGato.png" alt="Perro y Gato" class="main-image" />
            </div>
            <div class="right-content">
                <div class="bullet-point">
                    <img src="assets/images/General/iconopanelpropietario1.png" alt="Icono 1" class="bullet-image" />
                    <p>Explora y consulta rápidamente el listado de todas tus mascotas registradas en nuestra
                        plataforma web.</p>
                </div>
                <div class="bullet-point">
                    <img src="assets/images/General/iconopanelpropietario2.png" alt="Icono 2" class="bullet-image" />
                    <p>Accede al historial médico de tus mascotas con el más reciente informe sobre su salud.</p>
                </div>
                <div class="bullet-point">
                    <img src="assets/images/General/vet.png" alt="Icono 3" class="bullet-image3" />
                    <p class="bullet-text">Los veterinarios estarán pendientes del estado de tu mascota 24/7. Puedes
                        consultar toda la
                        información.</p>
                </div>
            </div>
        </div>
        <!-- Icono de inicio y título "INICIO" -->
        <header id="header">
            <img src="assets/images/General/Icono casita.png" alt="icono" class="iconoLista" />
            <h1 class="form-title">PANEL PROPIETARIO</h1>
        </header>
    </section>

</div>

<script src="/JavaScript/sidebar.js"></script>
<img src="assets/images/General/footer.png" alt="Footer Decorativo" class="footer-decorativa" />