<img src="assets/images/General/barrasola.png" alt="Barra Decorativa" class="barra-decorativa" />
<img src="assets/images/General/footer.png" alt="Footer Decorativo" class="footer-decorativa" />

<div class="sidebar close">
    <div class="logo">
        <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-11.png" alt="Logo Dogin" class="logo-img" />
        <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-07.png" alt="Nombre Dogin" class="logo-name" />
    </div>

    <ul class="nav-list">
        <li>
            <a href="/propietarioPanel">
                <i class="fab fa-microsoft"></i>
                <span class="link-name">Panel</span>
                <span class="tooltip">Inicio del Panel</span>
            </a>
        </li>

        <li>
            <a href="#historial">
                <i class="fas fa-bookmark"></i>
                <span class="link-name">Ver Historial</span>
                <span class="tooltip">Historial Médico</span>
            </a>
        </li>

        <li>
            <a href="/propietarioMascotas">
                <i class="fa-sharp fa-solid fa-shield-dog" style="color: #ffffff"></i>
                <span class="link-name">Mis Mascotas</span>
                <span class="tooltip">Lista de Mascotas</span>
            </a>
        </li>

        <li style="margin-top: 500px;">
            <a href="/logout">
                <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
                <span class="tooltip">Cerrar Sesión</span> <!-- Tooltip agregado -->
            </a>

        </li>
    </ul>

</div>

<div class="home-section">


    <!-- Sección de Panel (Inicio) -->
    <section id="panel" class="content-section active">
        <div class="panel-container">
            <div class="left-content">
                <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-04.png" alt="logo" class="main" />
                <img src="assets/images/General/panelPropietario.png" alt="Perro y Gato" class="main-image" />
            </div>
        </div>
        <div class="right-content">
            <div class="bullet-point">
                <p>
                    Bienvenido a tu panel personalizado. Aquí podrás explorar y gestionar fácilmente toda la información de tus mascotas registradas en Dogin. 
                    Consulta sus historiales médicos, próximos tratamientos y servicios recomendados de forma rápida y sencilla. 
                    Nos aseguramos de que cada detalle esté al alcance de tu mano para que puedas brindarles el mejor cuidado posible.
                </p>
            </div>
        </div>
        <!-- Icono de inicio y título "INICIO" -->
        <header id="header">
            <img src="assets/images/General/Icono casita.png" alt="icono" class="iconoLista" />
            <h1 class="form-title">PANEL PROPIETARIO</h1>
        </header>
    </section>

</div>


<script src="/JavaScript/sidebar.js"></script>
<img src="assets/images/General/footer.png" alt="Footer Decorativo" class="footer-decorativa" />