<img src="assets/images/General/barrasola.png" alt="Barra Decorativa" class="barra-decorativa" />
<img src="assets/images/General/footer.png" alt="Footer Decorativo" class="footer-decorativa" />

<div class="sidebar close" *ngIf="!isAdminRoute">
    <div class="logo">
        <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-11.png" alt="Logo Dogin" class="logo-img" />
        <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-07.png" alt="Nombre Dogin" class="logo-name" />
    </div>

    <ul class="nav-list">
        <!-- Cada enlace ahora lleva a la ruta correcta del servidor -->
        <li>
            <a href="/veterinarioPanel">
                <i class="fab fa-microsoft"></i>
                <span class="tooltip">Panel</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="/mascotaForm/add">
                <i class="fa-solid fa-plus"></i>
                <span class="tooltip">Agregar Mascota</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="/propietarioForm/add">
                <i class="fa-solid fa-user-plus"></i>
                <span class="tooltip">Agregar Propietario</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-suitcase-medical"></i>
                <span class="tooltip">Asignar Tratamiento</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-bookmark"></i>
                <span class="tooltip">Ver Historial</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="/mascotas">
                <i class="fa-solid fa-shield-dog"></i>
                <span class="tooltip">Listado de Mascotas</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="/propietarios">
                <i class="fa-solid fa-list-ul"></i>
                <span class="tooltip">Listado de Propietarios</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li style="margin-top: 300px;">
            <a href="/logout">
                <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
                <span class="tooltip">Cerrar Sesión</span> <!-- Tooltip agregado -->
            </a>

        </li>
    </ul>

</div>

<div class="home-section">
    

    <!-- Sección de Panel -->
    <section id="panel" class="content-section">
        <h2>Panel</h2>
        <p>Aquí va el contenido del panel principal...</p>
    </section>

    <!-- Sección de Historial -->
    <section id="historial" class="content-section" style="display: none;">
        <h2>Historial</h2>
        <p>Aquí va el contenido del historial...</p>
    </section>

    <!-- Sección de Mis Mascotas -->
    <section id="mis-mascotas" class="content-section" style="display: none;">
        <h2>Mis Mascotas</h2>
        <p>Aquí va el contenido de mis mascotas...</p>
    </section>

    <img src="assets/images/General/lista.png" alt="icono" class="iconoLista" />

    <header id="header">
        <h1 class="form-title">LISTA DE MASCOTAS</h1>
    </header>

    <!-- Campo de búsqueda -->
    <section class="buscar">
        <div class="buscador-container">
            <h1>BUSCADOR</h1>
            <div class="buscador-input">
                <input type="text" id="searchInput" placeholder="Buscar mascota..." (keyup)="buscarMascotas($event)" />
            </div>
        </div>
    </section>


    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>MASCOTAS</h1>

        </section>
        <section class="table__body">
            <table id="mascotasTable">
                <thead>
                    <tr>
                        <th> ID</th>
                        <th> Nombre</th>
                        <th> Raza</th>
                        <th> Edad</th>
                        <th> Enfermerdad</th>
                        <th> Foto</th>
                        <th> Estado</th>
                        <th> Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mascota of mascotaList">
                        <td>{{mascota.id}}</td>
                        <td>{{mascota.nombre}}</td>
                        <td>{{mascota.raza}}</td>
                        <td>{{mascota.edad}}</td>
                        <td>{{mascota.enfermedad}}</td>
                        <td><img src="{{mascota.fotoUrl}}" alt="Imagen de la mascota" width="100" height="100"></td>
                        <td>{{mascota.estado}}</td>
                    


                        <!--BOTONES DE ACCIONES-->
                        <td>
                            <button class="btn-detalles" (click) = "mostrarMascota(mascota)">Ver Detalles</button>
                            <button class="btn-editar" (click) = "editarMascota(mascota)">Editar</button>
                            <button class="btn-eliminar" (click) = "eliminarMascota(mascota)">Eliminar</button>
                        </td>


                    </tr>
                </tbody>
            </table>
        </section>