<!-- Barra decorativa superior -->
<img src="assets/images/General/barrasola.png" alt="Barra Decorativa" class="barra-decorativa" />
<!-- Footer decorativo -->
<img src="assets/images/General/footer.png" alt="Footer Decorativo" class="footer-decorativa" />

<!-- Barra lateral de navegación -->
<!-- Barra lateral de navegación -->
<div class="sidebar close">
    <div class="logo">
        <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-11.png" alt="Logo Dogin" class="logo-img" />
        <img src="assets/images/doggin logos/DOGIN VARIACIONES DE COLOR-07.png" alt="Nombre Dogin" class="logo-name" />
    </div>

    <ul class="nav-list">
        <!-- Cada enlace ahora lleva a la ruta correcta del servidor -->
        <li>
            <a href="adminPanel">
                <i class="fab fa-microsoft"></i>
                <span class="tooltip">Panel</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="admin/mascotaForm/add">
                <i class="fa-solid fa-plus"></i>
                <span class="tooltip">Registrar Mascota</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-notes-medical"></i>
                <span class="tooltip">Asignar Tratamiento</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-suitcase-medical"></i>
                <span class="tooltip">Ver Historial</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-shield-dog"></i>
                <span class="tooltip">Listado de Mascotas</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-user-nurse"></i>
                <span class="tooltip">Gestion de Veterinarios</span> <!-- Tooltip agregado -->
            </a>
        </li>

        <li style="margin-top: 350px;">
            <a href="/logout">
                <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
                <span class="tooltip">Cerrar Sesión</span> <!-- Tooltip agregado -->
            </a>

        </li>
    </ul>
</div>


<!-- Sección principal de contenido -->
<div class="home-section">
 <!-- Ícono decorativo -->
 <img src="assets/images/General/Icono casita.png" alt="icono" class="iconoModificar" />

     <!-- Encabezado del panel -->
     <header id="header">
        <h1 class="form-title">ADMINISTRADOR</h1>
    </header>
</div>